<!doctype html>
<html>
    <head>
        <link type="text/css" rel="stylesheet" href="fi.css">
        <title>HOME</title>

    </head>

    <body class="back marg">


       <header>
           <div id="menu">
            <ul >
                <li><a href="#">Find Branch</a></li>
                <li><a href="#">About Us</a></li>
                <li><a href="#">Customer Care</a></li>
                <li><a href="final.html">Bank Home</a></li>
            </ul>

                <img src="tag.png" class="log">



        </div><br>




        <div id="nav">
            <ul>

                <li class="dropdown"> <a href="ctransfer/moneytrans.html" target="_blank" >Money transfer</a>


                </li>

                <li><a href="moneywithdrawl/withdraw.html" target="_blank">Withdraw Money</a></li>
                <li><a>Deposite Money</a></li>
                <li style="border-right:none"><a>Account details</a></li>

            </ul>

        </div>
        </header>
            <marquee behavior="scroll" direction="left" onmouseover="this.stop();" onmouseout="this.start()";><b>-The General Schedule of Features and Charges (GSFC) is being revised with effect from April 1, 2017 for Saving Accounts, Privy League Saving & Current Accounts, Corporate Salary Accounts, JIFI Accounts & Sanman Accounts. Click here for the updated GSFC.
                <br>

                - IMPS Transaction charges for amount up to Rs. 1000 will not be charged for the period of 1st Jan'2017 to 31st Mar'2017. However, IMPS Transaction of more than Rs. 1000 will be charged as per applicable General Schedule of Features and Charges of respective Current Accounts, Savings Accounts and Corporate Salary account</b></marquee>

        <div class="rightadd">
            <img src="giphy.gif" width="140px" height="500px">
        </div>

            <h1 class="head">Login To Banking</h1>
              <div>
            <form class="box">
                <filedset>

                    User Id <br />
                    <input class="formbox" type="text"  placeholder="User Id" required><br />
                    Password <br />
                     <input class="formbox"type="password" placeholder="Password" required>
                    <br />Start-In<br />
                    <select name="dropdown">
                        <option value="Dashboard" selected>Dashboard</option>
                        <option value="My Accounts">My Accounts</option>
                        <option value="Payments">Payments</option>
                        <option value="Transfer">Transfer</option>
                    </select>
                    <br /><br /><button class="but" input type="submit">Log-In</button>
                </filedset>
            </form>

        </div>
        <span>
      <form class="box2">

            <fieldset>
                <h5>May I Help You?</h5>
                <ul>
                    <li><a href="signup.html" target="_blank">New User?</a></li>
                    <li><a hre="#">Password</a></li>
                    <li><a href="#">Trouble Logging In?</a></li>
                </ul>
            </fieldset>
            </form>
        </span>

        <div class="instruct" >
            <h3>Important Security Information:</h3>
            <ul  class="footbox">
                <li class="icon">Before logging in, please ensure that the URL address on the address bar of your internet browser starts with <strong>https://apnabank.com</strong></li>
                <li class="icon">Never provide your User ID or password to any one on phone or in response to a mail.Report as <u><strong>suspicious mail.</strong></u> </li>
                <li class="icon">Do not enter <strong>login</strong> or other sensitive information in any pop up window.</li>
                <li class="icon">Verify the site's security certificate by clicking on the padlock icon of your internet browser. </li>
            </ul>
            <h3 >Digital Security:</h3>
            <p class="footbox2">&nbsp;&nbsp;&nbsp;&nbsp;<strong>https://apnabank.com</strong> has been verified by VeriSign. The communication of your private information from any address beginning with "https" is encrypted and secured using SSL.</p>
    </div>


            <footer>
            <div>
                <ul>
                    <h4>Customer Service</h4>
                    <li class="icon2">Customer Care Numbers</li>
                </ul>

           </div>
                <div>
                    <ul>
                        <h4>Our Initiatives</h4>
                        <li class="icon2"><a href="#">Safe Banking | Go Green</a></li>
                    </ul>
                </div>
                <div>
                    <ul>
                        <h4>Useful Links</h4>
                            <li class="icon2">Get User Id| Way To Bank| Online<br>
                             Banking | Saving Account | PPF<br>
                             Personal
                             </li>
                    </ul>

                </div>


        </footer>


    </body>
</html>
