<!doctype html>
<html>
    <head>
        <link type="text/css" rel="stylesheet" href="fi.css">
        
        
    </head>
    <header>
    <body class="back">
       
           <div id="menu">
            <ul >
                <li><a href="#">Find Branch</a></li>
                <li><a href="#">About Us</a></li>
                <li><a href="#">Customer Care</a></li>
                <li><a href="#">Bank Home</a></li>
            </ul>
                
                <img src="tag.png" class="log">

               
                
        </div><br>
        
        
      
        
        <div id="nav">
            <ul>
                <li class="dropdown"><a href="#" class="dropbtn">Money transfer</a>
                    <div class="drop">
                    <a href="#">Current Account</a>
                    <a href="#"> Saving Account</a>
                    </div></li>
                
                <li><a>Withdraw Money</a></li>
                <li><a>Deposite Money</a></li>
                <li><a>Account details</a></li>
                
            </ul>
            
        </div>
        </header>
        
             
       
            <footer>
            <div>
                <ul>
                    <h4>Customer Service</h4>
                    <li class="icon2">Customer Care Numbers</li>
                </ul>
                
           </div>
                <div>
                    <ul>
                        <h4>Our Initiatives</h4>
                        <li class="icon2"><a href="#">Safe Banking | Go Green</a></li>
                    </ul>
                </div>
                <div>
                    <ul>
                        <h4>Useful Links</h4>
                            <li class="icon2">Get User Id| Way To Bank| Online<br>
                             Banking | Saving Account | PPF<br>
                             Personal
                             </li>
                    </ul>
                    
                </div>
                
                
        </footer>
    
    </body>
</html>