<!doctype html>
<html>
    <head>
        <link type="text/css" rel="stylesheet" href="css.css" />
    </head>
    <body class="back">
        
              
        <div >
            <img class="logo" src="3.jpg" />
           
            <h1 id="title">My Aadhar</h1>
            
        </div>
        <div id="menu">
            <ul>
                <li>
                    <a>HOME</a>
                </li>
                <li>
                    <a>ABOUT US</a>
                </li>
                <li>
                    <a>CONTACT US</a>
                </li>
            </ul>
        </div>
        <div>
            <span style="float:left;">
            <form class="box">
                <fieldset>
                    <legend id="leg"><h4 >Step 1:Bank Details</h4></legend>
                    First Name:
                    <br /><input type="text" name="First Name"><br />
                    Last Name:
                    <br /><input type="text" name="last name"><br />
                    Bank Name:
                   <br /> <input list="Banks" name="banks">
                    <datalist id="Banks">
                            <option value="SBI">
                        <option value="PNB">
                        <option value="IDBI">
                    </datalist>
                      <br \>
                    
                    <br />
                  
                    IFSC CODE:
                   <br /> <input type="number" value="IFSC"><br />
                    
                    Mobile Number:
                    <br /><input type="number" name="number"><br />
                    <button type="submit">Continue</button>
                            
                </fieldset>
                
                
                
            </form>
            </span>
            <span style="float:right;">
                <form class="boxx">
            <fieldset >
                <legend id="leg"><h4>Step 2:Aadhar Details</h4></legend> 
                Aadhar Number:
                <br /><input type="number" value="Aadhar number"><br />
                Date of birth:
                <br /><input type="date" value="daye of birth"><br />
                <br /><input type="submit"><br />
                
                </fieldset>
                </form>
            </span>
        </div>
        <div>
        
                
        </div>
    </body>
</html>
