<!doctype html>
<html>
    <head>
        <link type="text/css" rel="stylesheet" href="css.css" />
    </head>
    <body class="body">
        
        <form id="form" class="box">
            <h3 id="log">Login Here</h3>
        
            <div class="img">
                <img  class="pic" src="12.png">
                
            </div>
            <div class="container">
                <br /><label><b>Email Id:</b></label>
                <input class="user" type="text" placeholder="Email Id" name="emailid" required>
                <br /><label><b>Password:</b></label>
                <input class="pswd" type="password" placeholder="Password" name="psswd" required>
               <br /> <button class="button" input type="submit">Login</button>
               <br /> <input type="checkbox" checked="checked">Remember me
               
            </div>
            <div >
                <br /><button class="cancel" type="button" >Cancel</button>
                <span class="span">Forgot Password</span> 
            </div>
            
        </form>
    </body>
</html>