<!doctype html>
<html>
     <head>
        <link type="text/css" rel="stylesheet" href="bootstrapmin.css">
        <link type="text/css" rel="stylesheet" href="withdrawmoney.css">
    </head>
   
    <body>
         <header>
       
           <div id="menu">
            <ul >
                <li><a href="#">Find Branch</a></li>
                <li><a href="#">About Us</a></li>
                <li><a href="#">Customer Care</a></li>
                <li><a href="#">Bank Home</a></li>
            </ul>
                
                <img src="tag.png" class="log">

               
                
        </div><br>
        
    
        <div id="nav">
            <ul>
                <li class="dropdown"><a href="#" class="dropbtn">Money transfer</a>
                    <div class="drop">
                    <a href="#">Current Account</a>
                   
                    </div></li>
                
                <li><a>Withdraw Money</a></li>
                <li><a>Deposite Money</a></li>
                <li><a>Account details</a></li>
                
            </ul>
            
        </div>
        </header>
        
            
          <form>
         <div class="container down">
            
            
                <div class="form-group col-md-5 " id="test1" >
                   

            <h2 class="h2">Withdrawal Information</h2>
                    <label class="label1">Amount<sup>*</sup>:</label>
                    <input class="form-control " type="number" placeholder="Rs 100" required>
                    <p id="para">You can withdraw between Rs.100 and Rs.4000</p>
                    
                    <h2 class="h2">Payee Information</h2>
                    <label class="label1">Email<sup>*</sup></label>
                        <input class="form-control" type="email" placeholder="example@test.com">
                   <br> <label class="label1">First Name<sup>*</sup><br></label>
                    <input class="form-control" type="text" placeholder="First Name">
                    <br><label class="label1">Last Name<sup>*</sup></label>
                    <input class="form-control"n type="text" placeholder="Last Name" required>
                    <br>
                    <br>
                    <button type="submit" class="button_1"><b>Submit Withdrawal</b></button>
                   
        </div>
              
                   
                    
                <div class="form-group col-md-5">
                    
                    
                        <h2 class="h2">Other Information</h2>

                    <br>  <label class="label1" id="test1">Phone Number<sup>*</sup></label>
                    <input class="form-control"type="tel" placeholder="97******0" required>
                    <p id="para">This Information is used to validate your account</p>
                    <br> <label class="label1">Date Of birth</label><sup>*</sup>
                    <input class="form-control"  type="date" data-placeholder="Date Of Birth">
                    <p id="para">This Information is used to validate your account</p>
                    <br><label class="label1">State</label>
                    <sup>*</sup>
                    <select class="label1 form-control">
                    <option="" selected>Select a state</option>
                    <option value="haryana">Haryana</option>
                    <option value="Punjab">Punjab</option>
                    <option value="Himachal Pradesh">Himachal Pradesh</option>
                    <option value="uttar pradesh">Uttar Pradesh
                    </option>
                    </select>
                    <br><label class="label1">IFSC Code</label>
                    <sup>*</sup>
                    <input class="form-control" type="number" placeholder="IFSC Code">
                  
        </div> 
             
        </div>
              
    </form>
        
           
        
             
        
            <footer>
            <div>
                <ul>
                    <h4>Customer Service</h4>
                    <li class="icon2">Customer Care Numbers</li>
                </ul>
                
           </div>
                <div>
                    <ul>
                        <h4>Our Initiatives</h4>
                        <li class="icon2"><a href="#">Safe Banking | Go Green</a></li>
                    </ul>
                </div>
                <div>
                    <ul>
                        <h4>Useful Links</h4>
                            <li class="icon2">Get User Id| Way To Bank| Online<br>
                             Banking | Saving Account | PPF<br>
                             Personal
                             </li>
                    </ul>
                    
                </div>
                
                
        </footer>
    
    </body>
</html>